@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&display=swap');
.flex-contanier{
    display: flex;
}

.left{
    border: 2px;
    border-style: solid;
    border-color: blue;
    /* height: 200px; */
    height: auto;
    width: 25%;
    background-color: aqua;
    /* border-radius: 50%; */
}

.right{
    border: 2px;
    border-style: dotted;
    border-color: red;
    height: 200px;
    width: 75%;
    background-color: burlywood;
}

img{
    height: 150px;
    width: 150px;
    margin: 10px 0px 10px 30%;
    border-radius: 50%;
    border: 2px;
    border-style: solid;
}

h1{
    font-family: "Arima", system-ui;
}